<a href="https://colab.research.google.com/github/aikokass82-design/home-tasks-/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
my_list = [0, 5, 2, 4, 7, 1, 3 , 19]
print(my_list)
temp=(i for i in my_list if i%2 !=0)
count_num=sum(1 for i in my_list if i%2 !=0 )
print("нечетные числа:", list(temp), "количество нечетных чисел:", count_num)

[0, 5, 2, 4, 7, 1, 3, 19]
нечетные числа: [5, 7, 1, 3, 19] количество нечетных чисел: 5

In [61]:
import random
numbers= []
for _ in range(4):
 numbers.append(random.randint(1,10))
print("1 list:", numbers)
numbers_2 = numbers + [i*2 for i in numbers]
for i in range(5):
  list_1.append(i)
print("2 list:", numbers_2)

1 list: [1, 2, 6, 2]
2 list: [1, 2, 6, 2, 2, 4, 12, 4]

In [68]:
import random
import statistics
salary=[]
for _ in range(12):
  salary.append(random.randint(7500, 15000))
print("my list:", salary, "$")
total_sum=statistics.mean(salary)
print("per month:", total_sum, "$")

my list: [12259, 8207, 10540, 8812, 10084, 14323, 7712, 13586, 9231, 13914, 9397, 10140] $
per month: 10683.75 $

In [85]:
numbers=[]
for i in range(1,17):
  numbers.append(i)
print("list: ", numbers)
matrix = [numbers[i:i+4] for i in range (0, len(numbers), 4)]
for j in matrix:
  print(j)
total_sum = sum(sum(j) for j in matrix)
print(total_sum)

list:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
[1, 2, 3, 4]
[5, 6, 7, 8]
[9, 10, 11, 12]
[13, 14, 15, 16]
136