<a href="https://colab.research.google.com/github/aikokass82-design/home-tasks-/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import sqlalchemy
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
engine = sqlalchemy.create_engine("sqlite+pysqlite:////content/drive/MyDrive/Colab Notebooks/orders_and_users.db")

In [ ]:
query = sqlalchemy.sql.text("SELECT * FROM customers WHERE location = :City")

In [ ]:
orders_by_city = pd.read_sql(query, con=engine, params={"City": "Kyiv"})
orders_by_city

In [ ]:
query_3 = sqlalchemy.sql.text("SELECT * FROM customers ORDER BY Spending_score DESC LIMIT 3")
top_3 = pd.read_sql(query_3, con=engine)
top_3

In [ ]:
query_powerbank = """
SELECT SUM(quantity) as total_sold
FROM orders
WHERE Description = "Power Bank";
"""
df_powerbank = pd.read_sql(query_powerbank, con=engine)
print("\nВсего продано Power Bank:")
print(df_powerbank)

In [ ]:
query_credit = """
SELECT SUM(quantity) as total_paid
FROM orders
WHERE PaymentMethod LIKE "%card";
"""
result_df = pd.read_sql(query_credit, con=engine)
result_df