<a href="https://colab.research.google.com/github/aikokass82-design/home-tasks-/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [138]:
!pip install ydata-profiling

Requirement already satisfied: ydata-profiling in /usr/local/lib/python3.12/dist-packages (4.17.0)
Requirement already satisfied: scipy<1.16,>=1.4.1 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (1.15.3)
Requirement already satisfied: pandas!=1.4.0,<3.0,>1.1 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (2.2.2)
Requirement already satisfied: matplotlib<=3.10,>=3.5 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (3.10.0)
Requirement already satisfied: pydantic>=2 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (2.11.10)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (6.0.3)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (3.1.6)
Requirement already satisfied: visions<0.8.2,>=0.7.5 in /usr/local/lib/python3.12/dist-packages (from visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (0.8.1)
Requirement already satisfied: numpy<2.2,>=1.16.0 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (2.0.2)
Requirement already satisfied: minify-html>=0.15.0 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (0.16.4)
Requirement already satisfied: filetype>=1.0.0 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (1.2.0)
Requirement already satisfied: phik<0.13,>=0.11.1 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (0.12.5)
Requirement already satisfied: requests<3,>=2.24.0 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (2.32.4)
Requirement already satisfied: tqdm<5,>=4.48.2 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (4.67.1)
Requirement already satisfied: seaborn<0.14,>=0.10.1 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (0.13.2)
Requirement already satisfied: multimethod<2,>=1.4 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (1.12)
Requirement already satisfied: statsmodels<1,>=0.13.2 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (0.14.5)
Requirement already satisfied: typeguard<5,>=3 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (4.4.4)
Requirement already satisfied: imagehash==4.3.1 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (4.3.1)
Requirement already satisfied: wordcloud>=1.9.3 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (1.9.4)
Requirement already satisfied: dacite>=1.8 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (1.9.2)
Requirement already satisfied: numba<=0.61,>=0.56.0 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (0.60.0)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.12/dist-packages (from imagehash==4.3.1->ydata-profiling) (1.9.0)
Requirement already satisfied: pillow in /usr/local/lib/python3.12/dist-packages (from imagehash==4.3.1->ydata-profiling) (11.3.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.12/dist-packages (from jinja2<3.2,>=2.11.1->ydata-profiling) (3.0.3)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (25.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.12/dist-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (2.9.0.post0)
Requirement already satisfied: llvmlite<0.44,>=0.43.0dev0 in /usr/local/lib/python3.12/dist-packages (from numba<=0.61,>=0.56.0->ydata-profiling) (0.43.0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas!=1.4.0,<3.0,>1.1->ydata-profiling) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas!=1.4.0,<3.0,>1.1->ydata-profiling) (2025.2)
Requirement already satisfied: joblib>=0.14.1 in /usr/local/lib/python3.12/dist-packages (from phik<0.13,>=0.11.1->ydata-profiling) (1.5.2)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.12/dist-packages (from pydantic>=2->ydata-profiling) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in /usr/local/lib/python3.12/dist-packages (from pydantic>=2->ydata-profiling) (2.33.2)
Requirement already satisfied: typing-extensions>=4.12.2 in /usr/local/lib/python3.12/dist-packages (from pydantic>=2->ydata-profiling) (4.15.0)
Requirement already satisfied: typing-inspection>=0.4.0 in /usr/local/lib/python3.12/dist-packages (from pydantic>=2->ydata-profiling) (0.4.2)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.24.0->ydata-profiling) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.24.0->ydata-profiling) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.24.0->ydata-profiling) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.24.0->ydata-profiling) (2025.10.5)
Requirement already satisfied: patsy>=0.5.6 in /usr/local/lib/python3.12/dist-packages (from statsmodels<1,>=0.13.2->ydata-profiling) (1.0.1)
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.12/dist-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (25.4.0)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.12/dist-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (3.5)
Requirement already satisfied: puremagic in /usr/local/lib/python3.12/dist-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (1.30)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.7->matplotlib<=3.10,>=3.5->ydata-profiling) (1.17.0)

In [139]:
import pandas as pd
import ydata_profiling
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [140]:
apartments_df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/appartments_data_set.csv")
apartments_df

,Unnamed: 0,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,kitchen_area,balcony,locality_name,days_exposition
0,0,7312500.0,108.00,2024-05-15,3,2.70,16.0,51.0,8,NaN,False,25.00,NaN,Kyiv,NaN
1,1,1884375.0,40.40,2024-08-14,1,NaN,11.0,18.6,1,NaN,False,11.00,2.0,Brovary,81.0
2,2,2922750.0,56.00,2023-11-06,2,NaN,5.0,34.3,4,NaN,False,8.30,0.0,Kyiv,558.0
3,3,36506250.0,159.00,2024-03-19,3,NaN,14.0,NaN,9,NaN,False,NaN,0.0,Kyiv,424.0
4,4,5625000.0,100.00,2024-06-12,2,3.03,14.0,32.0,13,NaN,False,41.00,NaN,Kyiv,121.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23694,23694,5456250.0,133.81,2024-06-23,3,3.70,5.0,73.3,3,NaN,False,13.83,NaN,Kyiv,NaN
23695,23695,1743750.0,59.00,2023-11-22,3,NaN,5.0,38.0,4,NaN,False,8.50,NaN,Borshchahivka,45.0
23696,23696,1406250.0,56.70,2024-07-22,2,NaN,3.0,29.7,1,NaN,False,NaN,NaN,Boryspil,NaN
23697,23697,6454688.0,76.75,2023-09-23,2,3.00,17.0,NaN,12,NaN,False,23.30,2.0,Kyiv,602.0
23698,23698,759375.0,32.30,2024-09-22,1,2.50,5.0,12.3,1,NaN,False,9.00,NaN,Hostomel,NaN

In [158]:
apartments = apartments_df[apartments_df["is_apartment"] == True]
popular_city = apartments["locality_name"].value_counts()
print(popular_city)
top_city=popular_city.idxmax()
top_count=popular_city.max()
print(f"Больше всего квартир продается в городе {top_city} - {top_count} объявлений")

locality_name
Kyiv             39
Irpin             3
Brovary           3
Borshchahivka     2
Boyarka           1
Bucha             1
Boryspil          1
Name: count, dtype: int64
Больше всего квартир продается в городе Kyiv - 39 объявлений

In [147]:
studio_popularity = apartments_df[apartments_df["studio"]]
studio_counts=studio_popularity["locality_name"].value_counts()
print(studio_counts.head(10))

locality_name
Kyiv             86
Hostomel         12
Bucha            11
Boyarka           9
Brovary           8
Vyshneve          7
Borshchahivka     6
Irpin             5
Boryspil          5
Name: count, dtype: int64

In [148]:
apartments = apartments_df[apartments_df["is_apartment"]==True]
pivo = pd.pivot_table(
    apartments_df,
    index = "locality_name",
    columns="rooms",
    values="last_price",
    aggfunc="count",
    fill_value=0
)
print(pivo)

rooms           0     1     2     3    4    5   6   7   8   9   10  11  12  \
locality_name
Borshchahivka    9   362   327   228   32    5   1   2   0   0   0   0   0
Boryspil         8   398   369   187   23    2   1   0   0   0   0   0   0
Boyarka         13   411   331   220   24    3   0   0   1   0   0   0   0
Brovary         13   383   360   203   41    3   0   0   0   0   0   0   0
Bucha           11   406   345   210   28    4   1   0   0   0   0   0   0
Hostomel        17   398   362   222   20    7   0   0   0   0   0   0   0
Irpin            6   358   398   199   24    7   1   0   0   0   0   0   0
Kyiv           110  4937  5106  4123  968  291  99  57  11   8   3   2   1
Vyshneve        10   394   342   222   20    4   2   0   0   0   0   0   0

rooms          14  15  16  19
locality_name
Borshchahivka   0   0   0   0
Boryspil        0   0   0   0
Boyarka         0   0   0   0
Brovary         0   0   0   0
Bucha           0   0   0   0
Hostomel        0   0   0   0
Irpin           0   0   0   0
Kyiv            2   1   1   1
Vyshneve        0   0   0   0

In [149]:
irp_data=apartments_df[apartments_df["locality_name"]=="Irpin"]
mean_balcony_area=irp_data["balcony"].mean()
print("Средняя площадь балконов в Ирпене: ", mean_balcony_area, "м^2")

Средняя площадь балконов в Ирпене:  1.178 м^2

In [150]:
kyiv_data = apartments_df[apartments_df["locality_name"]=="Kyiv"]
kyiv_data["price_per_m2"]=kyiv_data["last_price"]/kyiv_data["total_area"]
pivot_table = kyiv_data.pivot_table(
    index="rooms",
    values="price_per_m2",
    aggfunc="mean",
    fill_value=0
)
print("Средняя стоимость м2 в Киеве по количеству комнат: ")
print(pivot_table)

Средняя стоимость м2 в Киеве по количеству комнат:
        price_per_m2
rooms
0       69412.747973
1       65206.060917
2       63418.124613
3       62719.766448
4       67820.250368
5       75922.636086
6       81367.202877
7       93741.316266
8      107878.651878
9       59077.769116
10      55130.586469
11      74609.851885
12     262500.000000
14      52215.572282
15      61970.338983
16      59375.000000
19      48426.655099

/tmp/ipython-input-2127906636.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kyiv_data["price_per_m2"]=kyiv_data["last_price"]/kyiv_data["total_area"]

In [152]:
kyiv = apartments_df[apartments_df["locality_name"]=="Kyiv"]
kyiv_clean = kyiv[(kyiv["ceiling_height"]>=2.0) & (kyiv["ceiling_height"]<=5.0)]
kyiv_clean["price_per_m2"]=kyiv_clean["last_price"]/kyiv_clean["total_area"]
kyiv_clean["ceiling_group"]=kyiv_clean["ceiling_height"].round(1)
pivot_table= kyiv_clean.groupby("ceiling_group")["price_per_m2"].mean().reset_index()
print("Средняя стоимость м2 по высоте потолков в Киеве:")
print(pivot_table)

Средняя стоимость м2 по высоте потолков в Киеве:
    ceiling_group   price_per_m2
0             2.0   64355.698923
1             2.3   50575.657895
2             2.4   53977.076150
3             2.5   56441.872734
4             2.6   56429.053109
5             2.7   63896.163345
6             2.8   68408.149783
7             2.9   69014.353714
8             3.0   78581.327797
9             3.1   78794.908108
10            3.2   74040.462116
11            3.3   84230.510755
12            3.4   89553.096366
13            3.5   84179.665930
14            3.6   82088.503796
15            3.7   76127.027759
16            3.8   95181.717597
17            3.9   97340.491937
18            4.0   92393.404781
19            4.1  131259.674073
20            4.2   77895.491193
21            4.3   71072.635135
22            4.4   80024.773393
23            4.5   75585.239515
24            4.6  103977.272727
25            4.7  148275.879622
26            4.8  168187.500000
27            4.9  276438.829787

/tmp/ipython-input-277165013.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kyiv_clean["price_per_m2"]=kyiv_clean["last_price"]/kyiv_clean["total_area"]
/tmp/ipython-input-277165013.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kyiv_clean["ceiling_group"]=kyiv_clean["ceiling_height"].round(1)