<a href="https://colab.research.google.com/github/aikokass82-design/home-tasks-/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
!pip install ydata-profiling

Requirement already satisfied: ydata-profiling in /usr/local/lib/python3.12/dist-packages (4.17.0)
Requirement already satisfied: scipy<1.16,>=1.4.1 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (1.15.3)
Requirement already satisfied: pandas!=1.4.0,<3.0,>1.1 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (2.2.2)
Requirement already satisfied: matplotlib<=3.10,>=3.5 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (3.10.0)
Requirement already satisfied: pydantic>=2 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (2.11.10)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (6.0.3)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (3.1.6)
Requirement already satisfied: visions<0.8.2,>=0.7.5 in /usr/local/lib/python3.12/dist-packages (from visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (0.8.1)
Requirement already satisfied: numpy<2.2,>=1.16.0 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (2.0.2)
Requirement already satisfied: minify-html>=0.15.0 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (0.16.4)
Requirement already satisfied: filetype>=1.0.0 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (1.2.0)
Requirement already satisfied: phik<0.13,>=0.11.1 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (0.12.5)
Requirement already satisfied: requests<3,>=2.24.0 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (2.32.4)
Requirement already satisfied: tqdm<5,>=4.48.2 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (4.67.1)
Requirement already satisfied: seaborn<0.14,>=0.10.1 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (0.13.2)
Requirement already satisfied: multimethod<2,>=1.4 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (1.12)
Requirement already satisfied: statsmodels<1,>=0.13.2 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (0.14.5)
Requirement already satisfied: typeguard<5,>=3 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (4.4.4)
Requirement already satisfied: imagehash==4.3.1 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (4.3.1)
Requirement already satisfied: wordcloud>=1.9.3 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (1.9.4)
Requirement already satisfied: dacite>=1.8 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (1.9.2)
Requirement already satisfied: numba<=0.61,>=0.56.0 in /usr/local/lib/python3.12/dist-packages (from ydata-profiling) (0.60.0)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.12/dist-packages (from imagehash==4.3.1->ydata-profiling) (1.9.0)
Requirement already satisfied: pillow in /usr/local/lib/python3.12/dist-packages (from imagehash==4.3.1->ydata-profiling) (11.3.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.12/dist-packages (from jinja2<3.2,>=2.11.1->ydata-profiling) (3.0.3)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (25.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.12/dist-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (2.9.0.post0)
Requirement already satisfied: llvmlite<0.44,>=0.43.0dev0 in /usr/local/lib/python3.12/dist-packages (from numba<=0.61,>=0.56.0->ydata-profiling) (0.43.0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas!=1.4.0,<3.0,>1.1->ydata-profiling) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas!=1.4.0,<3.0,>1.1->ydata-profiling) (2025.2)
Requirement already satisfied: joblib>=0.14.1 in /usr/local/lib/python3.12/dist-packages (from phik<0.13,>=0.11.1->ydata-profiling) (1.5.2)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.12/dist-packages (from pydantic>=2->ydata-profiling) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in /usr/local/lib/python3.12/dist-packages (from pydantic>=2->ydata-profiling) (2.33.2)
Requirement already satisfied: typing-extensions>=4.12.2 in /usr/local/lib/python3.12/dist-packages (from pydantic>=2->ydata-profiling) (4.15.0)
Requirement already satisfied: typing-inspection>=0.4.0 in /usr/local/lib/python3.12/dist-packages (from pydantic>=2->ydata-profiling) (0.4.2)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.24.0->ydata-profiling) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.24.0->ydata-profiling) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.24.0->ydata-profiling) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests<3,>=2.24.0->ydata-profiling) (2025.10.5)
Requirement already satisfied: patsy>=0.5.6 in /usr/local/lib/python3.12/dist-packages (from statsmodels<1,>=0.13.2->ydata-profiling) (1.0.1)
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.12/dist-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (25.4.0)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.12/dist-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (3.5)
Requirement already satisfied: puremagic in /usr/local/lib/python3.12/dist-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (1.30)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.7->matplotlib<=3.10,>=3.5->ydata-profiling) (1.17.0)

In [55]:
import pandas as pd
import ydata_profiling
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [56]:
apartments_df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/appartments_data_set.csv")
apartments_df

,Unnamed: 0,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,studio,kitchen_area,balcony,locality_name,days_exposition
0,0,7312500.0,108.00,2024-05-15,3,2.70,16.0,51.0,8,NaN,False,25.00,NaN,Kyiv,NaN
1,1,1884375.0,40.40,2024-08-14,1,NaN,11.0,18.6,1,NaN,False,11.00,2.0,Brovary,81.0
2,2,2922750.0,56.00,2023-11-06,2,NaN,5.0,34.3,4,NaN,False,8.30,0.0,Kyiv,558.0
3,3,36506250.0,159.00,2024-03-19,3,NaN,14.0,NaN,9,NaN,False,NaN,0.0,Kyiv,424.0
4,4,5625000.0,100.00,2024-06-12,2,3.03,14.0,32.0,13,NaN,False,41.00,NaN,Kyiv,121.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23694,23694,5456250.0,133.81,2024-06-23,3,3.70,5.0,73.3,3,NaN,False,13.83,NaN,Kyiv,NaN
23695,23695,1743750.0,59.00,2023-11-22,3,NaN,5.0,38.0,4,NaN,False,8.50,NaN,Borshchahivka,45.0
23696,23696,1406250.0,56.70,2024-07-22,2,NaN,3.0,29.7,1,NaN,False,NaN,NaN,Boryspil,NaN
23697,23697,6454688.0,76.75,2023-09-23,2,3.00,17.0,NaN,12,NaN,False,23.30,2.0,Kyiv,602.0
23698,23698,759375.0,32.30,2024-09-22,1,2.50,5.0,12.3,1,NaN,False,9.00,NaN,Hostomel,NaN

In [57]:
apartments_df = apartments_df.drop(columns=["Unamed: 0"], errors="ignore")
apartments_df["price_per_sq_m"]=apartments_df["last_price"]/apartments_df["total_area"]
print(apartments_df.head())

   Unnamed: 0  last_price  total_area first_day_exposition  rooms  \
0           0   7312500.0       108.0           2024-05-15      3
1           1   1884375.0        40.4           2024-08-14      1
2           2   2922750.0        56.0           2023-11-06      2
3           3  36506250.0       159.0           2024-03-19      3
4           4   5625000.0       100.0           2024-06-12      2

   ceiling_height  floors_total  living_area  floor is_apartment  studio  \
0            2.70          16.0         51.0      8          NaN   False
1             NaN          11.0         18.6      1          NaN   False
2             NaN           5.0         34.3      4          NaN   False
3             NaN          14.0          NaN      9          NaN   False
4            3.03          14.0         32.0     13          NaN   False

   kitchen_area  balcony locality_name  days_exposition  price_per_sq_m
0          25.0      NaN          Kyiv              NaN    67708.333333
1          11.0      2.0       Brovary             81.0    46642.945545
2           8.3      0.0          Kyiv            558.0    52191.964286
3           NaN      0.0          Kyiv            424.0   229599.056604
4          41.0      NaN          Kyiv            121.0    56250.000000

In [58]:
print(" Общая информация о данных:")
apartments_df.info()

print("\n Пропуски по столбцам:")
print(apartments_df.isnull().sum())

print("\n Описательная статистика числовых признаков:")
print(apartments_df.describe())

print("\n Корреляция между числовыми признаками:")
print(apartments_df.corr(numeric_only=True))

print("\n Уникальные значения в категориальных столбцах:")
for col in apartments_df.select_dtypes(include="object").columns:
    print(f"\n{col}:")
    print(apartments_df[col].value_counts().head(10))

 Общая информация о данных:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23699 entries, 0 to 23698
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            23699 non-null  int64
 1   last_price            23699 non-null  float64
 2   total_area            23699 non-null  float64
 3   first_day_exposition  23699 non-null  object
 4   rooms                 23699 non-null  int64
 5   ceiling_height        14504 non-null  float64
 6   floors_total          23613 non-null  float64
 7   living_area           21796 non-null  float64
 8   floor                 23699 non-null  int64
 9   is_apartment          2775 non-null   object
 10  studio                23699 non-null  bool
 11  kitchen_area          21421 non-null  float64
 12  balcony               12180 non-null  float64
 13  locality_name         23699 non-null  object
 14  days_exposition       20518 non-null  float64
 15  price_per_sq_m        23699 non-null  float64
dtypes: bool(1), float64(9), int64(3), object(3)
memory usage: 2.7+ MB

 Пропуски по столбцам:
Unnamed: 0                  0
last_price                  0
total_area                  0
first_day_exposition        0
rooms                       0
ceiling_height           9195
floors_total               86
living_area              1903
floor                       0
is_apartment            20924
studio                      0
kitchen_area             2278
balcony                 11519
locality_name               0
days_exposition          3181
price_per_sq_m              0
dtype: int64

 Описательная статистика числовых признаков:
         Unnamed: 0    last_price    total_area         rooms  ceiling_height  \
count  23699.000000  2.369900e+04  23699.000000  23699.000000    14504.000000
mean   11849.000000  3.679621e+06     60.348651      2.070636        2.771499
std     6841.456351  6.123945e+06     35.654083      1.078405        1.261056
min        0.000000  6.856000e+03     12.000000      0.000000        1.000000
25%     5924.500000  1.912500e+06     40.000000      1.000000        2.520000
50%    11849.000000  2.615625e+06     52.000000      2.000000        2.650000
75%    17773.500000  3.825000e+06     69.900000      3.000000        2.800000
max    23698.000000  4.291875e+08    900.000000     19.000000      100.000000

       floors_total   living_area         floor  kitchen_area       balcony  \
count  23613.000000  21796.000000  23699.000000  21421.000000  12180.000000
mean      10.673824     34.457852      5.892358     10.569807      1.150082
std        6.597173     22.030445      4.885249      5.905438      1.071300
min        1.000000      2.000000      1.000000      1.300000      0.000000
25%        5.000000     18.600000      2.000000      7.000000      0.000000
50%        9.000000     30.000000      4.000000      9.100000      1.000000
75%       16.000000     42.300000      8.000000     12.000000      2.000000
max       60.000000    409.700000     33.000000    112.000000      5.000000

       days_exposition  price_per_sq_m
count     20518.000000    2.369900e+04
mean        180.888634    5.592468e+04
std         219.727988    2.829758e+04
min           1.000000    6.289908e+01
25%          45.000000    4.307933e+04
50%          95.000000    5.343750e+04
75%         232.000000    6.426917e+04
max        1580.000000    1.072969e+06

 Корреляция между числовыми признаками:
                 Unnamed: 0  last_price  total_area     rooms  ceiling_height  \
Unnamed: 0         1.000000   -0.002705   -0.007276 -0.007270        0.007483
last_price        -0.002705    1.000000    0.653675  0.363343        0.085430
total_area        -0.007276    0.653675    1.000000  0.758344        0.095490
rooms             -0.007270    0.363343    0.758344  1.000000        0.054457
ceiling_height     0.007483    0.085430    0.095490  0.054457        1.000000
floors_total      -0.004246   -0.006984   -0.075774 -0.228215       -0.028732
living_area       -0.007410    0.566492    0.939537  0.845977        0.090650
floor             -0.001570    0.026576   -0.024754 -0.150862       -0.011798
studio             0.000279   -0.025362   -0.072653 -0.147286        0.001674
kitchen_area      -0.004127    0.519869    0.609121  0.269945        0.087641
balcony           -0.001721    0.029646    0.047937  0.017991        0.040523
days_exposition   -0.000200    0.081146    0.149675  0.126961        0.019091
price_per_sq_m    -0.004034    0.736499    0.301960  0.055420        0.122859

                 floors_total  living_area     floor    studio  kitchen_area  \
Unnamed: 0          -0.004246    -0.007410 -0.001570  0.000279     -0.004127
last_price          -0.006984     0.566492  0.026576 -0.025362      0.519869
total_area          -0.075774     0.939537 -0.024754 -0.072653      0.609121
rooms               -0.228215     0.845977 -0.150862 -0.147286      0.269945
ceiling_height      -0.028732     0.090650 -0.011798  0.001674      0.087641
floors_total         1.000000    -0.169311  0.678059  0.070151      0.163944
living_area         -0.169311     1.000000 -0.097210 -0.056231      0.428674
floor                0.678059    -0.097210  1.000000  0.036940      0.135531
studio               0.070151    -0.056231  0.036940  1.000000           NaN
kitchen_area         0.163944     0.428674  0.135531       NaN      1.000000
balcony              0.194065     0.018849  0.168773  0.031455      0.098634
days_exposition     -0.052234     0.142454 -0.039463 -0.022476      0.100586
price_per_sq_m       0.148098     0.226346  0.129068  0.015636      0.397493

                  balcony  days_exposition  price_per_sq_m
Unnamed: 0      -0.001721        -0.000200       -0.004034
last_price       0.029646         0.081146        0.736499
total_area       0.047937         0.149675        0.301960
rooms            0.017991         0.126961        0.055420
ceiling_height   0.040523         0.019091        0.122859
floors_total     0.194065        -0.052234        0.148098
living_area      0.018849         0.142454        0.226346
floor            0.168773        -0.039463        0.129068
studio           0.031455        -0.022476        0.015636
kitchen_area     0.098634         0.100586        0.397493
balcony          1.000000        -0.032909        0.065558
days_exposition -0.032909         1.000000        0.048120
price_per_sq_m   0.065558         0.048120        1.000000

 Уникальные значения в категориальных столбцах:

first_day_exposition:
first_day_exposition
2024-03-02    82
2024-03-12    79
2024-04-15    77
2024-03-26    77
2024-04-29    76
2024-03-24    76
2024-02-04    74
2024-02-27    74
2024-03-07    74
2024-05-17    74
Name: count, dtype: int64

is_apartment:
is_apartment
False    2725
True       50
Name: count, dtype: int64

locality_name:
locality_name
Kyiv             15721
Hostomel          1026
Bucha             1005
Boyarka           1003
Brovary           1003
Vyshneve           994
Irpin              993
Boryspil           988
Borshchahivka      966
Name: count, dtype: int64

In [59]:
kiev_flats = apartments_df[apartments_df["locality_name"]=="Kyiv"]
room_counts = kiev_flats["rooms"].value_counts().sort_index()
print("Количество квартир по числу комнат (Киев): \n")
print(room_counts)
most_common=room_counts.idxmax()
print(f"\n Чаще всего в Киеве продаются квартиры с {most_common} комнатами.")

Количество квартир по числу комнат (Киев):

rooms
0      110
1     4937
2     5106
3     4123
4      968
5      291
6       99
7       57
8       11
9        8
10       3
11       2
12       1
14       2
15       1
16       1
19       1
Name: count, dtype: int64

 Чаще всего в Киеве продаются квартиры с 2 комнатами.

In [69]:
one_room_irpen=apartments_df[(apartments_df["locality_name"]=="Irpin") & (apartments_df["rooms"]==1)]
average_price=one_room_irpen["last_price"].mean()
print(f"Средняя стоимость однокомнатной квартиры в Ирпене: {average_price:.2f}")

Средняя стоимость однокомнатной квартиры в Ирпене: 1596620.52

In [70]:
total_flats=len(apartments_df)
popular_flat=apartments_df["studio"].sum()
studio_share=(popular_flat/total_flats)*100
print(f"Квартир студио всего: {popular_flat} из {total_flats}({studio_share:.2f}%)")

Квартир студио всего: 149 из 23699(0.63%)