<a href="https://colab.research.google.com/github/aikokass82-design/home-tasks-/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
dict_one = {1: "Ponedelnik", 2: "Vtornik", 3: "Sreda", 4: "Chetverg", 5: "Pyatniza", 6: "Subota", 7: "Voskresenye"}
for k,v in dict_one.items():
  print (k,"->", v)

1 -> Ponedelnik
2 -> Vtornik
3 -> Sreda
4 -> Chetverg
5 -> Pyatniza
6 -> Subota
7 -> Voskresenye

In [6]:
cat = {"name": "Elsa",
       "age": "7",
       "color": "white",
       "eyes color": "yellow-green"}
print (cat)

{'name': 'Elsa', 'age': '7', 'color': 'white', 'eyes color': 'yellow-green'}

In [9]:
some_text=input("input some text: ")
temp_text = some_text.lower()
stat = {}
for k in temp_text:
  if k.isalpha():
    stat[k]=stat.get(k,0)+1
print(stat)

input some text: hello world
{'h': 1, 'e': 1, 'l': 3, 'o': 2, 'w': 1, 'r': 1, 'd': 1}

In [13]:
names = ["Iphone 11" , "Samsung Note 11", "Nokia 33310"]
prices=[500,400,1000]
goods = {}
for i in range(len(names)):
  goods[names[i]]=prices[i]
print(goods)

{'Iphone 11': 500, 'Samsung Note 11': 400, 'Nokia 33310': 1000}

In [21]:
employees = [
{"name": "Olga", "depatment": "hr"},
{"name": "Inna", "depatment": "test"},
{"name": "Alex", "depatment": "developer"},
{"name": "Anna", "depatment": "developer"},
{"name": "Ira", "depatment": "hr"}
]
grouped = {}
for j in employees:
  dep = j["depatment"]
  name=j["name"]
  if dep not in grouped:
    grouped[dep]=[]
  grouped[dep].append(name)
print(grouped)

{'hr': ['Olga', 'Ira'], 'test': ['Inna'], 'developer': ['Alex', 'Anna']}